<!-- templates/users/user_confirm_delete.html -->
{% extends 'base.html' %}
{% load i18n %}

{% block title %}Delete User - Hexlet Task Manager{% endblock %}

{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% trans "Delete User" %}</h1>
    
    <p>{% blocktrans %}Are you sure you want to delete {{ user }}?{% endblocktrans %}</p>
    
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">{% trans "Yes, delete" %}</button>
        <a href="{% url 'user-list' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
    </form>
</div>
{% endblock %}