{% extends 'base.html' %}

{% block title %}Пользователи - Менеджер задач Hexlet{% endblock %}

{% block content %}
<h1 class="my-4">Пользователи</h1>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Имя пользователя</th>
            <th>Полное имя</th>
            <th>Дата создания</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
            <td>
                <a href="{% url 'user-update' user.id %}" class="btn btn-primary btn-sm">Изменить</a>
                <a href="{% url 'user-delete' user.id %}" class="btn btn-danger btn-sm">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'user-create' %}" class="btn btn-primary">Создать пользователя</a>
{% endblock %}
