<!-- templates/users/user_form.html -->
{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}
    {% if form.instance.id %}{% trans "Edit User" %}{% else %}{% trans "Register" %}{% endif %} - Hexlet Task Manager
{% endblock %}

{% block content %}
<h1 class="my-4">
    {% if form.instance.id %}{% trans "Edit User" %}{% else %}{% trans "Register" %}{% endif %}
</h1>

<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    
    <button type="submit" class="btn btn-primary">
        {% if form.instance.id %}{% trans "Update" %}{% else %}{% trans "Register" %}{% endif %}
    </button>
</form>
{% endblock %}
