<!-- templates/labels/label_form.html -->

{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% if object %}{% trans "Edit label" %}{% else %}{% trans "Create label" %}{% endif %} - Менеджер задач Hexlet
{% endblock %}

{% block content %}
<h1 class="my-4">
    {% if object %}{% trans "Edit label" %}{% else %}{% trans "Create label" %}{% endif %}
</h1>

<form method="post">
    {% csrf_token %}
    
    <div class="mb-3">
        <label for="{{ form.name.id_for_label }}" class="form-label">{{ form.name.label }}</label>
        {{ form.name }}
        {% if form.name.errors %}
            <div class="alert alert-danger">{{ form.name.errors }}</div>
        {% endif %}
    </div>
    
    <button type="submit" class="btn btn-primary">
        {% if object %}{% trans "Update" %}{% else %}{% trans "Create" %}{% endif %}
    </button>
    <a href="{% url 'label_list' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
</form>
{% endblock %}
