<!-- templates/index.html -->

{% extends 'base.html' %}
{% load i18n %}

{% block title %}Главная страница - {% trans "Task Manager Hexlet" %}{% endblock %}

{% block content %}
<h1 class="my-4"></h1>
<div class="card">
    <div class="card-body p-5 bg-light">
        <div class="display-4">{% trans "Welcome to the Task Manager!" %}</div>
        <hr> 
        {# Добавляем кнопки для входа и регистрации #}
        {% if not user.is_authenticated %}
            <hr>
            <div class="mt-3">
                <a class="btn btn-success btn-lg me-2" href="{% url 'login' %}">{% trans "login" %}</a>
                <a class="btn btn-outline-primary btn-lg" href="{% url 'user-create' %}">{% trans "Registration" %}</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
