<!-- templates/tasks/task_form.html -->
{% extends 'base.html' %}

{% block title %}
    {% if form.instance.pk %}Изменение задачи{% else %}Создание задачи{% endif %} - Менеджер задач Hexlet
{% endblock %}

{% block content %}
<h1 class="my-4">
    {% if form.instance.pk %}Изменение задачи{% else %}Создание задачи{% endif %}
</h1>

<form method="post">
    {% csrf_token %}
    
    {% for field in form %}
    <div class="mb-3">
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
            <div class="alert alert-danger">{{ field.errors }}</div>
        {% endif %}
        {% if field.help_text %}
            <div class="form-text">{{ field.help_text }}</div>
        {% endif %}
    </div>
    {% endfor %}
    
    <button type="submit" class="btn btn-primary">
        {% if form.instance.pk %}Обновить{% else %}Создать{% endif %}
    </button>
    <a href="{% url 'task-list' %}" class="btn btn-secondary">К списку задач</a>
</form>
{% endblock %}
