<!-- templates/tasks/task_form.html -->
 
{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% if form.instance.pk %}{% trans "Update task" %}{% else %}{% trans "Create task" %}{% endif %} - Менеджер задач Hexlet
{% endblock %}

{% block content %}
<h1 class="my-4">
    {% if form.instance.pk %}{% trans "Update task" %}{% else %}{% trans "Create task" %}{% endif %}
</h1>

<form method="post">
    {% csrf_token %}

    {% for field in form %}
        <div class="mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>

            {{ field }} 

            {% if field.errors %}
                <div class="alert alert-danger">{{ field.errors }}</div>
            {% endif %}
            {% if field.help_text %}
                <div class="form-text">{{ field.help_text }}</div>
            {% endif %}
        </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">
        {% if form.instance.pk %}{% trans "Update" %}{% else %}{% trans "Create" %}{% endif %}
    </button>
    <a href="{% url 'task-list' %}" class="btn btn-secondary">{% trans "Back to task list" %}</a>
</form>
{% endblock %}
